<div
    style="width: 100%; background-color: white; margin: 0 auto; max-width: 600px; padding: 15px; font-family: Helvetica, Arial, sans-serif">
    <div style="font-size: 48px; line-height: 50px;">Important Email</div>
    <img src="fake.jpg" alt="fake image" width="500" height="600">
    <ol>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ol>
    Click the link <a href="https://example.com">here</a>.
    <div style="text-align: center; margin-top: 20px">
        <a href="https://example.com/">Example</a>
        <br />
        &copy; 2020 Example
    </div>
</div>
